<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment color="danger" [(ngModel)]="selectedSegment" (ionChange)="refreshChart()">
    <ion-segment-button value="both">
      <ion-label style="margin-left: 78%">+/-</ion-label>
    </ion-segment-button>
    <ion-segment-button value="net">
      <ion-label style="margin-right: 85%">=</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
